#firstSection {
    background-color: Blue;
    padding: 5px;
}

#secondSection {
    background-color: white;
    padding: 5px;
}

#thirdSection {
    background-color: red;
    padding: 5px;
}

#formulaire {
    background-color: blueviolet;
    padding: 5px;
}

img {
    max-width: 100%;
}

header h1 {
    size: 30px;
    text-align: center;
}