p {
    font-size: 1rem;
}


/* Définition de la taille d'un rem à 16px */

:root {
    font-size: 16px;
}

#firstSection {
    background-color: Blue;
    padding: 5px;
}

#secondSection {
    background-color: white;
    padding: 5px;
}

#thirdSection {
    background-color: red;
    padding: 5px;
}

#formulaire {
    background-color: blueviolet;
    padding: 5px;
}

img {
    max-width: 100%;
}

header h1 {
    text-align: center;
}

h1 {
    font-size: 1.5625rem;
}

footer #image {
    background-image: url('img/logo-iut.jpg');
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    background-size: 300px auto;
    height: 110px;
}


/* Média quéries */


/* Smartphones */

@media screen and (max-width: 480px) {}


/* De Smartphones à tablettes */

@media screen and (max-width: 767px) {}


/* Tablette à petit écran */

@media screen and (min-width: 768px) and (max-width: 979px) {}


/* Ecran larges */

@media screen and (min-width: 1200px) {}


/* Ecran Retina */

@media screen and (-webkit-max-device-pixel-ratio: 2) {}